<form action="/user/{{ action }}/" method="post">
  <input id="csrf_token" type="hidden" name="csrf_token" value="{{ csrf_token }}">
  <input id="user-id" type="hidden" name="id" value="{{ id }}">
  {% if not editing %}
    <p>
      <label for="user-login">Логин:</label>
      <input id="user-login" type="text" name="login" value="{{ login }}">
    </p>
  {% else %}
    <input id="user-login" type="hidden" name="login" value="{{ login }}">
  {% endif %}
  <p>
    <label for="user-name">Имя:</label>
    <input id="user-name" type="text" name="name" value="{{ name }}">
  </p>
  <p>
    <label for="user-lastname">Фамилия:</label>
    <input id="user-lastname" type="text" name="lastname" value="{{ lastname }}">
  </p>
  <p>
    <label for="user-birthday">День рождения:</label>
    <input id="user-birthday" type="text" name="birthday" placeholder="ДД-ММ-ГГГГ" value="{{ birthday | date('d-m-Y')}}">
  </p>
  {% if not editing %}
    <p>
      <label for="user-password">Пароль:</label>
      <input id="user-password" type="password" name="password">
    </p>
  {% else %}
      <input id="user-password" type="hidden" name="password" value="{{ password }}">
  {% endif %}
  <p><input type="submit" value="Сохранить"></p>
</form>